
<% if users.exists? %>
  <% users.each do |user| %>
    <td>フォロー数: <%= user.follower.count %></td>
    <td>フォロワー数: <%= user.followed.count %></td>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>

