<div id ="comments-error"></div>
  <div class="mt-3">
    <%= form_with model: [ book, post_comment ], local: false do |f| %>
      <%= f.text_area :comment, placeholder: "コメントをここに",required: true, class: "w-100" %><br>
      <%= f.submit "送信" %>
    <% end %>
  </div>
