<div class="mt-3">
  <%= form_with model: [ book, post_comment ] do |f| %>
    <%= render 'partial/error_messages', object: f.object %>
    <%= f.text_area :comment, placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>