<h2>User info</h2>
  <%= image_tag @user.get_profile_image(100, 100) %>
  <table>
    <tbody>
      <tr>
        <th><p>name</p></th>
        <th><%= @user.name %></th>
      </tr>
      <tr>
        <th><p>introduction</p></th>
        <th><%= @user.introduction %></th>
      </tr>
    </tbody>
  </table>

<%= link_to "Edit", edit_user_path(current_user) %>
